.apartment {
	max-width: 1200px;
	margin: 0 auto;
	padding: 24px 32px 24px 70px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	box-sizing: border-box;
	border: 2px dashed green;
	position: relative;
}

@media screen and (max-width: 840px) {
	.apartment {
		grid-template-columns: repeat(2, auto);
	}
}

@media screen and (max-width: 425px) {
	.apartment {
		padding: 20px;
		display: flex;
		flex-direction: column;
	}
}